[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/bilibili-linux/bin/bilibili
Name=哔哩哔哩
Icon=/opt/bilibili-linux/bin/bilibili.svg
